<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Wallpoet&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="overflow-x-hidden">
    <!--Start navbar-->
    <div class="grid grid-cols-7 gap-4">
      <div class="flex items-center px-5">
        <div class="logoname font-wallpoet text-green-600 w-auto h-16 py-3">
          Mega Shop
        </div>
      </div>
      <div
        class="bg-green-600 w-full col-span-6 flex justify-between items-center h-16 py-3 px-5"
      >
        <span>Product</span>
        <span>June 30 2023</span>
      </div>
    </div>

    <!--End navbar-->

    <!--Start product section-->
    <div class="flex">
      <aside class="bg-yellow-500 left-0 top-0 z-40 w-[200px] h-screen">
        <!--Start sidebar-->
        <div class="bg-green-400">
          <a href="" class="text-white px-5 py-3"><ion-icon name="grid-outline"></ion-icon>Dashboard</a>
        </div>
        <div
          class="bg-gray-300 flex flex-col items-center text-gray-600 font-semibold space-y-7 py-3"
        >
          <a href="#"><ion-icon name="cube-outline"></ion-icon> Products</a>
          <a href="#"><ion-icon name="reader-outline"></ion-icon>Orders</a>
          <a href="#"><ion-icon name="person-circle-outline"></ion-icon>Customers</a>
          <a href="#"><ion-icon name="person-circle-outline"></ion-icon>Rating and Reviews</a>
          <a href="#">Messages</a>
          <a href="#"><ion-icon name="settings-outline"></ion-icon>Settings</a>
          <a href="#">Log Out</a>
        </div>
      </aside>
      <!--End sidebar-->

      <!--Start product section-->
      <div class="flex flex-col space-y-3 mt-3">
        <div class="flex items-center">
          <button class="bg-green-500 rounded-lg border-2 text-white px-3 py-1">
            <span
              ><ion-icon name="add-circle-outline" class="text-xl"></ion-icon
            ></span>
            Add Product
          </button>
        </div>

        <ul
          class="container mx-auto bg-green-300 flex justify-between items-center space-x-5 text-white p-3"
        >
          <li>Product</li>
          <li>Category</li>
          <li>Buy Price</li>
          <li>Sell Price</li>
          <li>Stock</li>
          <li>Action</li>
        </ul>
      </div>
    </div>
  </body>
</html>
